@model ParqueoApp3.ViewModels.ParqueosConEspaciosVM

<form asp-action="CrearParqueo" method="post">
    <div class="form-group">
        <label for="NombreParqueo">Nombre del Parqueo</label>
        <input asp-for="nombre_parqueo" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Ubicacion">Ubicación</label>
        <input asp-for="ubicacion" class="form-control" />
    </div>
    <div class="form-group">
        <label>Espacios por Tipo</label>
        <table class="table">
            <thead>
                <tr>
                    <th>Tipo de Espacio</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Motocicleta</td>
                    <td><input name="Espacios[0].Cantidad" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Automóvil</td>
                    <td><input name="Espacios[1].Cantidad" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Discapacitados</td>
                    <td><input name="Espacios[2].Cantidad" class="form-control" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>