@model ParqueoApp3.ViewModels.UsuarioVM;
@{Layout = null;}
<html>
<head>
	<title>Registrarse</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
	<div class="row mt-5 justify-content-center">
		<div class="col-sm-4">
			<div class="card">
				<div class="card-header">
					<h3>Registrarse</h3>
				</div>
				<div class="card-body">
					<form asp-controller="Acceso" asp-action="Registrarse" method="post">
						<input class="form-control mb-3" type="text" placeholder="Nombre" required asp-for="nombre"/>
						<input class="form-control mb-3" type="text" placeholder="Apellido" required asp-for="apellido"/>
						<input class="form-control mb-3" type="email" placeholder="Correo electronico" required asp-for="correo"/>
						<input class="form-control mb-3" type="password" placeholder="Password" required asp-for="password"/>
						<input class="form-control mb-3" type="password" placeholder="Confirmacion" required asp-for="confirmarClave"/>
                        <select class="form-control mb-3" placeholder="Rol" required asp-for="role"> 
                            <option value="Administrador">Administrador</option>
                            <option value="Usuario">Usuario</option>
                            <option value="Seguridad">Seguridad</option>
                        </select>
						<button class="btn btn-primary btn-block" type="submit">Registrarse</button>
						@if (ViewData["Mensaje"] != null)
						{
							<div class="alert alert-danger" role="alert">
								@ViewData["Mensaje"]
							</div>
						}
						Ya estas registrado? <a asp-controller="Acceso" asp-action="LogIn">Inicia sesion</a>
					</form>

					</div>
				</div>

			</div>
		</div>



		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>